.App {
  text-align: center;
}
.utyle{
  list-style-type: none!important;
  border: 1px solid #ccc;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.width-25{
  width:25%;
  display: inline-block;
  float: left;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
table {
  border-collapse: collapse;
  width: 50%;
  border: 1px solid #ccc;
  margin: 0 auto;
}

th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ccc;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #04AA6D!important;
  color: white;
  background-image: none;
}

.subMenu{
  display: none;
  }
ul li:hover .subMenu{
display: block;
}
ul{
  background-color: #282c34;
  padding: 20px;
  width: auto;
  height:auto;
  color: white;
}
ul li{
  margin-bottom: 10px;
  border-bottom: 1px solid #f2f2f2;
}
ul li,ul li a, ul li span{
  list-style-type: none;
  color:#ffffff;
}
.text-decoration-none{
  text-decoration: none;
}
.v-hidden{
  visibility: hidden;
}
input[type ="radio"],input[type ="checkbox"]{
  margin: 3px 3px 0px 5px;
}
.form-group{
  margin-bottom: 5px;
}